.ant-table {
  table {
    background: var(--color-gray-light-2);
    color: var(--color-black);
    .ant-table-thead > tr > th {
      background: var(--color-gray-light-2);
      color: var(--color-black);
    }
    .ant-table-column-sort {
      background: var(--color-gray-light-1);
    }
    .ant-table-tbody tr {
      &:hover td {
        background: rgba(0, 0, 0, 0.04);
      }
    }
  }
}
